<% if logged_in? %>

<h1><%= @restaurant.name %></h1>
<p>
  Category: <%= @restaurant.category %>
</p>
<p>
  Description: <%= @restaurant.body %>
</p>
<%= link_to "Back to Restaurants", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>

<h3>Comments</h3>
<%= render partial: 'restaurants/comment', collection: @restaurant.comments %>
<%= render partial: 'comments/form' %>

<% end %>
