
<div class="description">
  <h1><%= @restaurant.name %></h1>
  <p>
    Category: <%= @restaurant.category %>
  </p>
  <p>
    Description: <%= @restaurant.body %>
  </p>
  <%= link_to "<<", restaurants_path %><br />
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
</div>

<div class="comments">
  <h3>Comments</h3>
  <%= render partial: 'restaurants/comment', collection: @restaurant.comments %>

  <%= render partial: 'comments/form' %>
</div>
