<header>
  <nav id="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if logged_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <% end %>
      <% if logged_in? %>
      <li><%= "Logged in as #{current_user.username}" %></li>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
