<!DOCTYPE html>
<html>
<head>
  <title>FoodieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="flash"><%= flash.notice %></p>

  <div id="container">
    <div id="header">
      <%= render 'layouts/header' %>
    </div>
    <div id="sidebar">
        <ul class="sidebar-menu">
          <li>Newest Restaurants</li>
          <li>Top 10</li>
          <li>By Cuisine Type</li>
          <li><%= link_to "Create New Restaurant", new_restaurant_path %></li>
        </ul>
    </div>
    <div id="content">

          <%= yield %>

    </div>
    <div id="footer">
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>
